@media (min-width: 979px) {

	body{
		padding-top:40px;
	}

	.sidebar{
		position:fixed;
		overflow:auto;
		top:40px;
		bottom:0;
		left:0;
		
		background:rgb(250, 250, 250);
		border-right:1px solid #d4d4d4;
	}
	
	.sidebar .scroller{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:60px;
		overflow:auto;
		border-top:1px solid #d4d4d4;
		padding-top:15px;
	}
	
	.sidebar .btn-group{
		margin:15px;
	}
	
	.main-content{
		width:auto !important;
		max-width:60em;
		margin-left:24% !important;
	}

}

.semantic,
.semantic li{
	list-style:none;
	margin:0;
	padding:0;
}

.main-content .content{
	padding-left:21px;
	margin-bottom:2em;
}

.sidebar .nav-list .nav-header a{
	padding-left:16px;
	margin-right:-15px;
}
.sidebar .nav-list a{
	position:relative;
	padding-left:45px;
	color:#777777;
}
.sidebar .nav-list .unread a{
	font-weight:bold;
	color:#0088cc;
}

.sidebar .nav-list .unread .count{
	font-weight:normal;
	color:#777777;
	background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgb(250, 250, 250) 5px);
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	line-height:24px;
	padding-left:5px;
}

.sidebar .nav-list .unread a:hover .count{
	background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgb(238, 238, 238) 5px);
}
.sidebar .nav-list .unread .count:before{
	content:"(";
}
.sidebar .nav-list .unread .count:after{
	content:")";
}

.sidebar .nav-list{
	padding-right:5px !important;
}

.sidebar .nav-list li{
	height:25px;
	margin-right:0;
	overflow:hidden;
}

.sidebar .nav-list a{
	margin-right:0;
}

.f{
	display:block;
	position:absolute;
	left:16px;
	top:2px;
	width:18px;
	height:18px;
	background:white no-repeat center url("/assets/img/feed.png");
	background-size:16px;
	padding:1px;
	border:1px solid #d4d4d4;
	border-radius:2px;
}

.nav .icon{
	font-weight:bold;
	color:#d4d4d4 !important;
	text-shadow:0 -1px 0 rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.8) !important;
	font-size:1.5em;
	border-top:1px solid rgba(0,0,0,0);
}

.nav .icon.true{
	text-shadow:0 1px 0 rgba(0,0,0,.33),0 -1px 0 rgba(255,255,255,.8) !important;
	color:rgb(176, 223, 255) !important;
	border-top:none;
	border-bottom:1px solid rgba(0,0,0,0)
}

.nav .icon:hover,
.nav .icon:focus,
.nav .icon:active{
	color:#0088cc !important;
}


@-webkit-keyframes pending /* Safari and Chrome */
{
from {opacity:1;}
to {opacity:.5;}
}

.nav .icon.pending{
	-moz-animation:pending .5s;
	-webkit-animation:pending .5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction: alternate;
}

.feed-bar{
	margin-top:15px;
}

.feed-title h1{
	padding-left:30px;
}

.feed-meta{
	padding-top:15px;
}

.feed-icon{
	background:rgb(176, 223, 255);
	width:57px;
	height:57px;
	border-radius:2px;
	margin-right:5px;
}


.articles .current-article .navbar-inner{
	border-color:#0088cc;
}
